body {
  color: white;
  font-size: 15px;
  font-family: "Montserrat", Arial, sans-serif
}

.jumbotron {
  background: url('../pictures/large-banner.png');
  height: 100vh;
  width: auto;
  min-height: 335px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  margin-bottom: 0 !important;
}

.banner-content {
  width: 100%;
  text-align: center;
}

.banner-title {
  font-size: 60px;
  text-shadow: 1px 1px black;
  font-family: 'Sedgwick Ave Display', cursive;
}

.banner-subtitle {
  padding-top: 10px;
  font-size: 30px;
}

.learn-more {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

.introduction-section,
.contact-section,
.project-description {
  color: black;
}

.introduction-section {
  padding: 60px 0 80px 0;
  background-color: #F7F4F4;
}

.my-image {
  height: 300px;
  width: auto;
  
 
}

.hero-button {
  padding: 15px 20px;
  border-radius: 10px;
  background: transparent;
  color: white;
  transition: all .5s ease-in-out
}

.hero-button:focus {
  outline: none;
}

.hero-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  transform: scale(1.1);
}

.introduction {
  background-color: white;
  padding: 90px 0px;
  color: black;
}

.contact-section {
  background-color: #38383d;
  color: white;
  padding: 90px 0px;
}

.code-editor {
  background-color: black;
}

.intro-text {
  padding-top:30px;
}
.intro-mainHeading,
.projects-mainHeading { 
  padding-bottom: 60px;
}
.skills-summary,
.intro-summary {
  list-style: none;
}
.lang-icon {
  font-size: 20px;
  padding-left: 5px;
}
.project-img-item {
  width:100%;
  max-height: 300px;
  
}
/* Icon colors */

.icon-html5-alt {
  color: #e34f26;
}
.icon-css3-alt {
  color:#3B5998 
}
.icon-javascript-alt {
  color: #f7df1e;
}
.icon-reactjs {
  color: #00d8ff;
}
.icon-nodejs {
  color: #6cc24a;
}
.icon-mongodb {
  color: #589636;
}
footer {
  padding:90px;
  color: black;
}
