body {
  color:white;
  font-size: 15px;
  font-family: "Montserrat", Arial, sans-serif
}

.jumbotron {
  background: url('../pictures/large-banner.png');
  height: 100vh;
  width: auto;
  min-height: 335px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex; 
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  margin-bottom: 0 !important;
}
.banner-content {
  width:100%;
  text-align: center;
}
.banner-title { 
  font-size: 60px ;
  text-shadow: 1px 1px black;
  font-family: 'Sedgwick Ave Display', cursive;
}
.banner-subtitle {
  padding-top:10px;
  font-size:30px;
}
.learn-more {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.introduction-section, .contact-section, .project-description  {
  color: black;
}
.introduction-section { 
  padding: 90px 0px;
  background-color: #e6e3e3;
}
.my-image {
  height: 400px;
  width:auto;
}
.hero-button {
  padding: 15px 20px;
  border-radius: 10px;
  background: transparent;
  color: white;
  transition: all .5s ease-in-out
}
.hero-button:focus {
  outline:none;
}
.hero-button:hover {
  background-color: white; 
  color:black;
  cursor: pointer;
  transform: scale(1.1);
}

.introduction {
  height: 500px;
  background-color: white;
  padding: 90px 0px;
}
.contact-section{
  height:500px;
  background-color:#38383d;
  color:white;
  padding: 90px 0px;
}
.code-editor {
  background-color: black; 
}
.intro-heading, .intro-text {
  color:black;
}

/* Code editor colors */

.green{
  color:lightskyblue;
}
.maroon {
  color:orange; 
}
.ltblue {
  color: rebeccapurple;
}



